/* le body de toute la page */

body.html {
    height: 100%;
}


/* la police de google */

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(149deg, rgba(0, 36, 2, 1) 0%, rgba(41, 217, 159, 1) 97%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* mon logo et le titre le mon page */

.logo {
    display: flex;
    border-top: 3px solid green;
    border-bottom: 1px solid gray;
    background-color: white;
    color: gray;
    color-interpolation-filters: sRGB;
    padding-left: 20px;
    font-size: 36px;
}


/* le bannier montre le punch line de la page et represente toutle le artiste de la page */

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}


/* le main est le main branc de la page et ce la on a les information qui est plus important */

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 5rem;
    padding: 2rem;
}


/* la card donner le possiblité pour placer de block trés bien */

.card {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.card1 {
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 23rem;
}


/* la biography de le Artiste */

.bio {
    font-size: 25px;
}


/* le prochain concert de le Artist */

.concert {
    font-size: 25px;
    border: white;
    background-color: rgb(192, 209, 132);
}


/* le footer de la page qui coresspond a la page d'accueil */

.down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-top: gray 1px solid;
    border-bottom: 5px solid green;
    background-color: white;
}

.down li {
    list-style: none;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}