@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(149deg, rgba(0, 36, 2, 1) 0%, rgba(41, 217, 159, 1) 97%);
    background-size: cover;
}

* {
    font-family: 'BioRhyme', serif;
    box-sizing: border-box;
}

.logo {
    display: flex;
    border-top: 3px solid green;
    background-color: white;
    color: gray;
    color-interpolation-filters: sRGB;
    padding-left: 20px;
    font-size: 36px;
}


/* le bannier montre le punch line de la page et represente toutle le artiste de la page */

.banner {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

form {
    margin-top: 50px;
    margin-left: 500px;
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border: radius 15px;
    justify-content: center;
    text-align: center;
}

strong {
    font-size: x-large;
}

button:hover {
    opacity: 7;
}

.error {
    background: pink;
    color: blue;
    padding: 10px;
    width: 95px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}