    /* le body est respecter le police de gooogle */
    
    body .html {
        height: 100%;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
    body {
        padding: 0;
        margin: 0;
        background: linear-gradient(149deg, rgba(0, 36, 2, 1) 0%, rgba(41, 217, 159, 1) 97%);
        font-family: 'BioRhyme', serif;
    }
    /* mon logo et le titre le mon page */
    
    .logo {
        display: flex;
        border-top: 3px solid green;
        background-color: white;
        color: gray;
        color-interpolation-filters: sRGB;
        padding-left: 20px;
        font-size: 36px;
    }
    /* le bannier montre le punch line de la page et represente toutle le artiste de la page */
    
    .banner {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }
    /* le container est le main branc de la page et ce la on a les information qui est plus important */
    
    main {
        size: 10rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        grid-gap: 9rem;
        padding: 5rem;
    }
    
    main .card img {
        width: 100%;
    }
    
    .section {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .middle {
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        margin: 20px 20px 20px 20px;
    }
    
    .middle h2 {
        display: flex;
        margin: 20px 20px 20px 20px;
    }
    /* le button donner en lien que quand on click on vas toumbe dans le lein qui on sus */
    
    button {
        background-color: black;
        color: white;
    }
    
    .middle:hover {
        visibility: visible;
        opacity: 1;
        margin-top: 40px;
        transition-delay: 01s;
        color: green;
    }
    
    .down {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        border-bottom: 5px solid green;
        background-color: white;
    }
    
    .down li {
        list-style: none;
        justify-content: space-between;
        margin: 10px 10px 10px 10px;
    }